@{
    ViewBag.Title = "Home Page";
}
<head>
@Styles.Render("~/content/css/site.css")
    </head>



<body>
    <div id="home">
        <h1>Welcome to Reach and Report
          <br />
        </h1>
        <h2>Emergency Management Agency of Allegheny County
        </h2>
        <br />
        <h3>Reach and Report is a way for Allegheny County's Emergency
            Management Agency to streamline their distaster reporting process, which in turn leads to
            quicker recovery for areas affected by natural disasters.
        </h3>
    </div>
      <img src="service-banner.jpg" alt="Disaster" class="col-sm-offset-1 col-sm-5"style="width:1000px;height:300px; pull-center;">
</body>
